In [53]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("./cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2022-11-20 14:23:40,70.6333,147.9167,-26.77,100,99,6.78
1,1,Mastung,PK,2022-11-20 14:23:41,29.7994,66.8450,53.51,34,5,6.31
2,2,Kruisfontein,ZA,2022-11-20 14:23:42,-34.0033,24.7314,70.88,45,27,11.79
3,3,Sinnamary,GF,2022-11-20 14:23:42,5.3833,-52.9500,84.45,66,15,11.70
4,4,Olafsvik,IS,2022-11-20 14:23:43,64.8945,-23.7142,43.77,79,74,16.53

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds =  city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
 # Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [47]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sinnamary,GF,2022-11-20 14:23:42,5.3833,-52.9500,84.45,66,15,11.70
9,9,Gat,IL,2022-11-20 14:23:44,31.6100,34.7642,79.48,35,0,9.78
16,16,Faanui,PF,2022-11-20 14:23:46,-16.4833,-151.7500,77.99,78,100,17.47
17,17,Butaritari,KI,2022-11-20 14:23:46,3.0707,172.7902,80.10,79,10,10.85
20,20,Saint-Philippe,RE,2022-11-20 14:23:47,-21.3585,55.7679,76.59,78,80,7.94
21,21,Sao Desiderio,BR,2022-11-20 14:23:47,-12.3633,-44.9733,79.99,62,91,5.39
22,22,Castro,BR,2022-11-20 14:23:48,-24.7911,-50.0119,77.04,50,0,3.15
26,26,Georgetown,MY,2022-11-20 14:20:01,5.4112,100.3354,84.13,78,20,1.14
27,27,Lahij,YE,2022-11-20 14:23:49,13.1667,44.5833,77.59,67,71,12.53
30,30,Majene,ID,2022-11-20 14:23:50,-3.5403,118.9707,79.36,85,100,3.33

In [48]:
preferred_cities_df.count()

City_ID       182
City          182
Country       181
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [68]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3        Sinnamary      GF     84.45   5.3833  -52.9500
9              Gat      IL     79.48  31.6100   34.7642
16          Faanui      PF     77.99 -16.4833 -151.7500
17      Butaritari      KI     80.10   3.0707  172.7902
20  Saint-Philippe      RE     76.59 -21.3585   55.7679
21   Sao Desiderio      BR     79.99 -12.3633  -44.9733
22          Castro      BR     77.04 -24.7911  -50.0119
26      Georgetown      MY     84.13   5.4112  100.3354
27           Lahij      YE     77.59  13.1667   44.5833
30          Majene      ID     79.36  -3.5403  118.9707

In [63]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [69]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [71]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Sinnamary,GF,84.45,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
9,Gat,IL,79.48,31.6100,34.7642,OlusHome
16,Faanui,PF,77.99,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Butaritari,KI,80.10,3.0707,172.7902,Isles Sunset Lodge
20,Saint-Philippe,RE,76.59,-21.3585,55.7679,Le four à pain
21,Sao Desiderio,BR,79.99,-12.3633,-44.9733,POUSADA BOM SOSSEGO
22,Castro,BR,77.04,-24.7911,-50.0119,CHACARA BAILLY
26,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
27,Lahij,YE,77.59,13.1667,44.5833,
30,Majene,ID,79.36,-3.5403,118.9707,Kost Putri RABBANI

In [72]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [98]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))